* {
  text-decoration: none;
  overflow: hidden;
}
#header_container {
  height: 100px;
  width: 100%;
}
#header_fixed {
  height: 55px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0px;
  min-width: 360px;
}
a {
  height: 20px;
  width: 80px;
  margin-left: 25px;
  background-color: white;
  display: inline-block;
  margin-top: 15px;
  text-align: center;
  padding-top: 5px;
  transition: 0.5s;
}
.active {
  background-color: blue;
  color: yellow;
}
