<div class="overall_c">
  <div class="p3contact" id="p3id4">
    <div class="p3info3">
      <div class="p3info2">
        <p>
          PHONE NUMBER <br />
          (718)888-8888
        </p>
      </div>
      <div class="p3info2 ">
        <p style="word-break:break-all;">
          EMAIL
          <a href="mailto:z1178392022@gmail.com" class="p3info9">
            <br />
            z1178392022@gmai.com
          </a>
        </p>
      </div>
      <div class="p3info2 ">
        <p>
          ADDRESS <br />
          43-30 147th Avenue Flushing, NY 11355
        </p>
      </div>
      <div class="p3info2">
        <p>
          Office <br />
          Technology Building
        </p>
      </div>
    </div>
    <hr class="p3info1" />
    <div class="p3info4">
      <b id="follow">Contact Me</b> <br />
      <ul class="p3info7">
        <li class="p3info5">
          <a href="http://www.facebook.com" target="_blank">
            <img
              src="https://raw.githubusercontent.com/z1178392022/Junsong/master/images/png/p3png1.png"
              alt=""
              class="p3info6"
            />
          </a>
        </li>
        <li class="p3info5">
          <a href="http://www.wechat.com" target="_blank">
            <img
              src="https://raw.githubusercontent.com/z1178392022/Junsong/master/images/png/p3png2.png"
              alt=""
              class="p3info6"
            />
          </a>
        </li>
        <li class="p3info5">
          <a href="http://www.youtube.com" target="_blank">
            <img
              src="https://raw.githubusercontent.com/z1178392022/Junsong/master/images/png/p3png3.png"
              alt=""
              class="p3info6"
            />
          </a>
        </li>
        <li class="p3info5">
          <a href="http://www.discord.com" target="_blank">
            <img
              src="https://raw.githubusercontent.com/z1178392022/Junsong/master/images/png/p3png4.png"
              alt=""
              class="p3info6"
            />
          </a>
        </li>
        <li class="p3info5">
          <a href="http://www.instagrm.com" target="_blank">
            <img
              src="https://raw.githubusercontent.com/z1178392022/Junsong/master/images/png/p3png6.png"
              alt=""
              class="p3info6"
            />
          </a>
        </li>
      </ul>
    </div>
    <p class="p3info8">
      @ 2021 Final Project by Junsong He
    </p>
  </div>
</div>
