<div id="overall_c">
  <ul>
    <li>
      <a routerLink="/todolist">
        <div class="div_link">
          <img
            src="https://raw.githubusercontent.com/z1178392022/JunsongHe_midterm/main/to-do-list-apps.jpg"
            alt=""
            class="img_one"
          />
          <button class="home_button">To Do List</button>
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/form">
        <div class="div_link">
          <img
            src="https://raw.githubusercontent.com/z1178392022/JunsongHe_midterm/main/download.png"
            alt=""
            class="img_one"
            id="img_two"
          />
          <button class="home_button">Form</button>
        </div>
      </a>
    </li>
  </ul>
</div>